<div id="<%= dom_id relationship %>">
  <p>
    <strong>Start date:</strong>
    <%= relationship.start_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= relationship.user_id %>
  </p>

</div>
