<div id="<%= dom_id photo %>" class="bg-white dark:bg-gray-800 p-4 rounded-lg shadow mb-4">
  <p class="text-gray-800 dark:text-gray-200">
    <strong class="text-gray-700 dark:text-gray-300">Title:</strong>
    <%= photo.title %>
  </p>

  <p class="text-gray-800 dark:text-gray-200">
    <strong class="text-gray-700 dark:text-gray-300">Relationship:</strong>
    <%= photo.relationship_id %>
  </p>

  <p class="text-gray-800 dark:text-gray-200">
    <strong class="text-gray-700 dark:text-gray-300">Image:</strong>
    <%= image_tag photo.image, class: "rounded-xl shadow-md w-full max-w-md mx-auto dark:shadow-gray-700" if photo.image.attached? %>
  </p>
</div>
