<div id="<%= dom_id photo %>">
  <p>
    <strong>Title:</strong>
    <%= photo.title %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= photo.relationship_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag photo.image, class: "img-fluid" if photo.image.attached? %>
  </p>

</div>
