<div class="text-center p-8">
  <h1 class="text-4xl text-gothic-accent">Nosso Amor</h1>
  <p class="mt-4 text-xl">Estamos juntos hรก <%= @relationship.duration_in_days %> dias</p>
</div>

<div id="photoCarousel" class="carousel slide mt-8" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% @photos.each_with_index do |photo, i| %>
      <div class="carousel-item <%= 'active' if i == 0 %>">
        <% if photo.image.attached? %>
          <%= image_tag photo.image, class: "d-block mx-auto w-full md:w-2/3 rounded-xl shadow-lg" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
